@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap');

/*  Root Variable */
:root {
  --primary-color: #063547;
  --secondary-color: #44b89d
}

/*  General Settings */
a {
  text-decoration: none;
}

/*  Custom Settings */
.full-section-height {
  min-height: calc(100vh - 130px);
  display: flex;
  align-items: center;
}

.form-control {
  border-radius: 25px;
  height: 48px;
}
.form-control:focus {
  box-shadow: none !important;
}
.btn-primary {
  border-radius: 25px;
  height: 45px;
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  min-width: 175px;
}
.btn:hover {
  background-color: aliceblue !important;
  color: var(--secondary-color) !important;
  transition: all 0.3s ease;
}
